* {
    margin: 0%;
}

body {
    background-image: url(./shara\ desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container1{
    margin: 16px 100px;
    display: flex;
    justify-content: space-between;
}
/* .menu{
    color: aliceblue;
} */
a{
    text-decoration: none;
}

.menu-ican{
    position: relative;
    bottom: 20px;
 margin-left: 330px;}
 
 ul{
   
    list-style: none;
    display: flex;
} 
li{
    
    padding: 0px 20px;
    color: aliceblue;
}
.container2{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}
h1{
    font-size: 80px;
}
.left-container{
color: aliceblue;
margin-top: 90px;

}
p{
    line-height: 30px;
}
.btn{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    border: none;
}
.right-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 20px;
    
}
.box:hover{
    transform: translateY(-10px);
}
.box{
    transition-duration: 0.5s;
    border-radius: 10px;
    background-size: cover;
    padding-left: 20px;
    line-height: 25px;

}
.box1{
    background-image: url(./pic-1\ \(1\).png);
}
.box2{
    background-image: url(./pic-2\ \(1\).png);
}
.box3{
    background-image: url(./pic-3.png);
}
.box4{
    background-image: url(./pic-4.png);
}
@media screen and (min-width:600px) and (max-width:900px){
    .container2{
        display: block;
    }
    .right-container{
        grid-template-columns: 400px;
        grid-template-rows: repeat(4,200px);
        place-content: center;
        margin-top: 20px;
    }
}
@media screen and (min-width:250px) and (max-width:550px){
    .container2{
        display: block;
    }
    .container1{
        margin: 10px 0px;
    }
    .right-container{
        grid-template-columns: 200px;
        grid-template-rows: repeat(4,200px);
        place-content: center;
        margin-top: 20px;
    }
    h1{
        font-size: 60px;
    }
    ul{
        display: block;
        margin-right: 90px;  
    }
    .menu-ican{
        position: relative;
        bottom: 40px;
       margin-left: 160px;
    }
    
}
